beautifulsoup4==4.9.3
bs4==0.0.1
DateTime==4.3
forecast==0.1.0
jhTAlib==20201228.0
Jinja2==2.11.3
jsonschema==3.2.0
lxml==4.6.3
matplotlib==3.4.1
ml-metrics==0.1.4
numpy==1.19.5
pandas==1.2.4
pandas-datareader==0.9.0
plotly==4.14.3
pmdarima==1.8.2
pyparsing==2.4.7
pyramid==2.0
requests==2.25.1
scikit-learn==0.24.1
scikit-learn-extra==0.2.0
scipy==1.6.3
seaborn==0.11.1
sklearn==0.0
stats==0.1.2a0
statsmodels==0.12.2
streamlit==0.81.1
streamlit-theme==0.58.0
